.main {
  min-height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-ppmondwest), sans-serif;
}

.nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  max-width: 64rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rotatingTextWrapper {
  margin-bottom: 1rem;
}

.rotatingText {
  font-size: 24px !important;
  background-color: #2F00FF;
  color: white;
  padding: 10px 20px;
  display: inline-block;
}

.subtext {
  font-size: 24px;
}

.imageContainer {
  width: 200px;
  height: fit-content;
  margin: 0 auto;
  display: block;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
}

.description {
  font-size: 24px;
  max-width: 48rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .rotatingText {
    font-size: 3.75rem;
    line-height: 1;
  }
  
  .subtext {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
